# Database Settings
DATABASE_URL=postgresql://postgres:password@localhost:5432/ai_poster_db

# AI API# Stable Diffusion API
SD_API_URL=http://127.0.0.1:7860/sdapi/v1/txt2img
# Set to 'true' to use a placeholder image instead of calling local SD
MOCK_SD=false
# Set to 'true' to use Pollinations.ai (Free Cloud) instead of local SD
USE_POLLINATIONS=false

# Ollama API
OLLAMA_BASE_URL=http://localhost:11434

# Instagram Credentials
IG_USERNAME=your_username
IG_PASSWORD=your_password
INSTAGRAM_URL=https://www.instagram.com/
CHROME_PROFILE_PATH=C:/Users/YourUser/AppData/Local/Google/Chrome/User Data/Default
